<%- include("header"); -%>
    <div class="box" id="heading">
        <h1 class="heading">To do List 1.0</h1>
        <h2 class="heading">
            <%= listTitle%>
        </h2>
    </div>

    <div class="box">
        <% newItem.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= item._id%>" onChange="this.form.submit()">
                    <p>
                        <%= item.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle%>">
            </form>
        <%}); %>

                <form class="item" action="/" method="POST">
                    <input type="text" name="todo" placeholder="Add New Task" autocomplete="off">
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>


    </div>

<%- include("footer"); -%>